<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :project_id, collection: Project.all %>
    <%= f.input :issue_id %>
    <%= f.input :summary %>
    <%= f.select :harvest_task_id, @harvest_tasks, :prompt => 'Please choose one' %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
