<h1>Current Tasks for <%= current_user.name %> </h1>
<table class='table table-striped'>
  <tr>
    <th>Timer</th>
    <th>Issue</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <% if task.running_timer? %>
      <td class='timer'><%= link_to '<i class="icon-time"></i> Stop'.html_safe, stop_timer_path(:task_id => task.id), :class => 'btn btn-mini btn-danger' %></td>
    <% else %>
      <td class='timer'><%= link_to '<i class="icon-time"></i> Start'.html_safe, start_timer_path(:task_id => task.id), :class => 'btn btn-mini btn-success' %></td>
    <% end %>
    <td class='issue'><%= task.issue_id %></td>
    <td><%= task.summary %></td>
    <td class='task'><%= link_to '<i class="icon-file"></i> '.html_safe, task %></td>
    <td class='task'><%= link_to '<i class="icon-pencil"></i> '.html_safe, edit_task_path(task) %></td>
    <td class='task'><%= link_to '<i class="icon-trash"></i> '.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="icon-plus-sign"></i> New Task'.html_safe, new_task_path, :class => 'btn btn-mini' %>
