<h1>Harvest Projects</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>API ID</th>
      <th>API Project Name</th>
      <th>Time Squirrel Project</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @harvest_projects.each do |project| %>
      <tr>
        <td><%= project.api_project_id %></td>
        <td><%= project.api_project_name %></td>
        <td><%= project.project ? project.project.title : 'No project associated' %></td>
        <td class='task'><%= link_to '<i class="icon-pencil"></i> '.html_safe, edit_harvest_project_path(project) %></td>
        <td class='task'><%= link_to '<i class="icon-trash"></i> '.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
