<table class="table table-striped">
  <thead>
    <tr>
      <th>Timer</th>
      <th>Issue</th>
      <th>Summary</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
    <% next if task.project_id != project.id %>
      <tr>
        <% if task.running_timer? %>
          <td class='timer'><%= link_to '<i class="icon-time"></i> Stop'.html_safe, stop_timer_path(:task_id => task.id), :class => 'btn btn-mini btn-danger' %></td>
        <% else %>
          <td class='timer'><%= link_to '<i class="icon-time"></i> Start'.html_safe, start_timer_path(:task_id => task.id), :class => 'btn btn-mini btn-success' %></td>
        <% end %>
        <td class='issue'><%= task.issue_id.present? ? link_to(task.issue_id, "https://railsdog.atlassian.net/browse/#{task.issue_id}", html_options = {:target => '_blank'}).html_safe : '' %></td>
        <td><%= link_to task.summary, task %></td>
        <% if @date %>
          <td class='timer'><%= formatted_duration(task.total_time_on_day(@date)) %></td>
        <% else %>
          <td class='timer'><%= formatted_duration(task.total_time) %></td>
        <% end %>
        <td class='task'><%= link_to '<i class="icon-file"></i> '.html_safe, task %></td>
        <td class='task'><%= link_to '<i class="icon-pencil"></i> '.html_safe, edit_task_path(task) %></td>
        <td class='task'><%= link_to '<i class="icon-trash"></i> '.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan='7'>
        <%= link_to 'New Task', new_task_path, :class =>'btn btn-mini' %>
      </td>
    </tr>
  </tfoot>
</table>
