<h3>Total for <%= @date == Date.today ? 'Today' : @date.to_s %></h3>
<div class="row">
  <div class="span9">
    <ul class='timeline'>
    <% @timers.each do |timer| %>
      <li style="width:<%= timer.width %>%;margin-left:<%= timer.offset %>%;">
        <%= link_to (timer.time_elapsed > 3400 ? formatted_duration(timer.time_elapsed) : '&nbsp;'.html_safe), task_path(timer.task), 'data-toggle' => 'tooltip', 'title' => formatted_duration(timer.time_elapsed) %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript">
  jQuery( function($) {
      $(".timeline li a").tooltip()
  });
</script>
<div class="row">
  <div class="span9">
    <ul class="times">
      <% (1..18).each_with_index do |time, i| %>
        <li style="width:5.56%;margin-left:<%= 5.56 * i %>%;">&nbsp;</li>
      <% end %>
    </ul>
    <ul class="hour_marker">
      <% ['6am',7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11].each_with_index do |time, i| %>
        <li style="width:5.56%;margin-left:<%= 5.56 * i %>%;"><%= time %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span3 well">
    <p class='lead'>Total Time: <%= formatted_duration(@total_time) %></p>
  </div>

  <div class="span3 well">
    <p class='lead'>Total Value:  <%= number_to_currency(((@total_time/60.0)/60.0) * 85.0) %></p>
  </div>
</div>

<% @projects.each do |project| %>
<% next if project.tasks.collect { |t| t if t.total_time_on_day(@date) > 0 }.compact.count == 0 %>
  <h4><%= project.title %></h4>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Issue ID</th>
        <th>Classification</th>
        <th>Task</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <% project.tasks.each do |task| %>
      <% next if task.total_time_on_day(@date) == 0.0 %>
        <tr>
          <td class='timer'><%= task.issue_id %></td>
          <td class='project'><%= task.classification %></td>
          <td><%= task.summary %></td>
          <td class='timer'><%= formatted_duration(task.total_time_on_day(@date)) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<% end %>
