<h3><%= @project.title %> <small><%= @project.code %></small></h3>

<%= render partial: "shared/tasks_table", :locals => { :project => @project, :tasks => @tasks } %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
