<%= simple_form_for(@timer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :task_id, :collection => Task.active, :label_method => lambda {|t| "#{t.project.title} :: #{t.summary}"} %>
    <%= f.input :start_time, :start_year => (Date.today.year), :end_year => (Date.today.year), :order => [:month, :day, :year], :label => 'Start Time', :autofocus => true %>
    <%= f.input :end_time, :order => [:month, :day, :year], :label => 'End Time' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
