<h3><%= @timer.task.summary %></h3>
<% if @timer.same_day? %>
  <h4><%= day(@timer.start_time) %></h4>
<% else %>
  <p class='warning'></p>
<% end %>

<div class="row">
  <div class="span2">
    <p>
      <%= hour_minute(@timer.start_time) %>
    </p>
  </div>

  <div class="span2">
    <p>
      <%= hour_minute(@timer.end_time) %>
    </p>
  </div>
</div>




<%= link_to 'Edit', edit_timer_path(@timer) %>
