<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Time Squirrel" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Time Squirrel" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span9">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
            <div class="span3">
              <div class="well">
                <h3>Quick Links</h3>
                <%= link_to "Sync with Jira", sync_tasks_path %>
                <p>Sync with Harvest</p>
                <hr>
                <h4>Daily Totals</h4>
                <p><%= link_to 'Today', daily_path %></p>
                <% (1..6).each do |i| %>
                  <p><%= link_to days_ago(i).strftime('%A'), daily_path(:day => days_ago(i)) %></p>
                <% end %>
              </div>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
